.app {
    display: flex;
    flex-direction: column;
}

/* h1 {
    color: white;
    font-size: 6rem;
} */

/* button {
    width: 50%;
} */

.btn-link {
    text-decoration: none;
    color: black;
}



